flows/Revise_Budget.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Update_Revised_Budget</name>
        <label>Update Revised Budget</label>
        <locationX>482</locationX>
        <locationY>279</locationY>
        <assignmentItems>
            <assignToReference>CurBudget.Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Budget</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurBudget.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Budget</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>To check the status of the event if it is closed or not.</description>
        <name>Check_the_status_of_the_Event</name>
        <label>Check the status of the Event.</label>
        <locationX>80</locationX>
        <locationY>506</locationY>
        <defaultConnector>
            <targetReference>Decision_for_Submitted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Current_Budget_Event_Status</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Event_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Event_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EMT_Event_Status_Closed</targetReference>
            </connector>
            <label>Check Current Budget Event Status.</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_Submitted</name>
        <label>Decision for Submitted</label>
        <locationX>340</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ForSubmitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurBudget.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OnSubmittedScreen</targetReference>
            </connector>
            <label>ForSubmitted</label>
        </rules>
        <rules>
            <name>Forallother</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurBudget.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Revise_Budget</targetReference>
            </connector>
            <label>Forallother</label>
        </rules>
    </decisions>
    <description>EMT Revised budget</description>
    <interviewLabel>Revise Budget {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EMT Revise Budget</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Fetch the details of the event related fields.</description>
        <name>EMT_Event_Record</name>
        <label>Fetch EMT Event Record</label>
        <locationX>56</locationX>
        <locationY>272</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_the_status_of_the_Event</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurBudget.Event__c</elementReference>
            </value>
        </filters>
        <object>Events__c</object>
        <outputAssignments>
            <assignToReference>Current_Budget_Event.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Event_Status</assignToReference>
            <field>Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Budget_ID</name>
        <label>Get Budget ID</label>
        <locationX>244</locationX>
        <locationY>129</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EMT_Event_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Event_Budget__c</object>
        <outputReference>CurBudget</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Budget__c</queriedFields>
        <queriedFields>Original_Budget__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Event__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Budget</name>
        <label>Update Budget</label>
        <locationX>880</locationX>
        <locationY>227</locationY>
        <inputReference>CurBudget</inputReference>
    </recordUpdates>
    <screens>
        <description>When the event status is closed, you cannot revise the budget. Please contact your administrator if you need to reopen this event.</description>
        <name>EMT_Event_Status_Closed</name>
        <label>Current Budget Event Status is Closed/Cancelled</label>
        <locationX>357</locationX>
        <locationY>478</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Mssage_Event_Status_Closed</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Calibri; font-size: medium; background-color: rgb(255, 255, 255); color: rgb(200, 38, 19);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;When the event status is closed,/cancelled you cannot&amp;nbsp;revise the budget.&amp;nbsp;Please contact your administrator if you need to reopen this event.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OnSubmittedScreen</name>
        <label>OnSubmittedScreen</label>
        <locationX>513</locationX>
        <locationY>432</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Displayonsubmit</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;This budget is on pending approval stage hence can not be revised now.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Revise_Budget</name>
        <label>Revise Budget</label>
        <locationX>647</locationX>
        <locationY>99</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Revised_Budget</targetReference>
        </connector>
        <fields>
            <name>Description</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;Please enter your revised budget amount.&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;br style=&quot;user-select: auto;&quot;&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;i style=&quot;font-size: 11px; user-select: auto;&quot;&gt;When your budget is raised with more than 10% or 50.000 euro, it will be submitted for approval.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Currentbudget</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;﻿Current Budget: {!CurBudget.CurrencyIsoCode}  {!CurBudget.Budget__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Budget</name>
            <dataType>Number</dataType>
            <fieldText>New Budget</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>NoteforSubmission</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(51, 51, 51); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 11px;&quot;&gt;Click Next to Submit the Revised Budget figure&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Budget_ID</startElementReference>
    <status>Active</status>
    <variables>
        <name>CurBudget</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event_Budget__c</objectType>
    </variables>
    <variables>
        <name>Current_Budget_Event</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Events__c</objectType>
    </variables>
    <variables>
        <description>Stores the Status of the Event.</description>
        <name>Event_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Current_Budget_Event.Status__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>EventBudgetCurrencyCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>CurBudget.CurrencyIsoCode</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
